a {
    text-decoration: none;
  }
  
  h1 {
    font-family: Staatliches;
    font-size: 120px;
    text-align: center;
  }
  
  #category {
    font-family: Staatliches;
    font-weight: 500;
  }
  
  #title {
    letter-spacing: 0.4px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.13636;
    margin-bottom: 5rem;
  }
  
  #banner {
    margin: 20px;
    height: 800px;
  }
  
  #editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
  }
  
  .uk-navbar-container {
    background: #fff !important;
    font-family: Staatliches;
  }
  
  img:hover {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  }a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
  text-align: center;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

@media (max-width: 500px) {
  .title {
    font-size: 25px;
    font-size: 2rem;
    line-height: 1.13636;
    text-align: center;
  }
}

@media (max-width: 850px) {
  .title {
    font-size: 50px;
    font-size: 4rem;
    line-height: 1.13636;
    text-align: center;
  }
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

button {
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
  cursor: pointer;
  transition: background 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}