@font-face {
  font-family: 'Blue River';
  src: url('./utils/fonts/blue_river/BlueRiverRegular.woff2') format('woff2'),
      url('./utils/fonts/blue_river/BlueRiverRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Santor';
  src: url('./utils/fonts/santor/Santor.woff2') format('woff2'),
      url('./utils/fonts/santor/Santor.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CAROUSEL */
.carouselImage {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 10%;
}

.carousel {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* TITLE */

#title {
  font-family: 'Blue River', sans-serif;
  font-size: 8rem;
  font-weight: normal;
  margin: 10px;
  line-height: 1.9;
}

p {
  font-family: 'Santor', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.textContainer {
  margin-top: 10px;
}

.categoryImage {
  height: 20rem;
  width: 22rem;
  object-fit: cover;
  object-position: 50% 10%;
}

.categoryCard {
  width: 22rem;
  margin-top: 10px;
  height: fit-content
}

/* PHONE VIEW */

@media (max-width: 500px) {

  html, body {
    width: fit-content;
    flex-direction: column;
  }

  #title {
    font-size: 3.5rem;
    line-height: 1.5;
    margin-bottom: -15px;
    text-align: center;
  }

  p {
      font-size: 1.1rem;
  }

  .carouselImage {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
  }

  .carousel {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}